### Introduction to Python Programming

###### 18/10/2021

In [208]:
a=3

In [209]:
a

3

In [210]:
b=5

In [211]:
c=a+b

In [212]:
c

8

In [213]:
c**2

64

In [214]:
import this

In [215]:
b_num = list(input("Input a binary number: "))
value = 0

for i in range(len(b_num)):
	digit = b_num.pop()
	if digit == '1':
		value = value + 2**i
print("The decimal value of the number is", value)

Input a binary number:
The decimal value of the number is 0

In [216]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

# Python-syntax

In [217]:
# set the midpoint
midpoint = 5

# make two empty lists
lower = []; upper = []

# split the numbers into lower and upper
for i in range(10):
    if (i < midpoint):
        lower.append(i)
    else:
        upper.append(i)
        
print("lower:", lower)
print("upper:", upper)

lower: [0, 1, 2, 3, 4]
upper: [5, 6, 7, 8, 9]

In [218]:
x=2
if x<4:
    y=x*2
    print(x,y)

2 4

In [219]:
del x,y

In [220]:
#indentation is important!
x=5
if x<4:
    y=x*2
print(x,y)

NameError: name 'y' is not defined

In [ ]:
x = 5
y = 23
if x == 3: 
    print(x)
else:
    print(y)

In [ ]:
#doesnt matter:
x=1+2
x = 1 + 2
x    =        1         +         2

In [ ]:
x = (1 + 2 + 3 + 4 + 5 +
     6 + 7 + 8 + 9)

In [ ]:
x

In [ ]:
x = 1 + 2 + 3 + 4 + 5 \
    + 6 + 7 + 8 + 9 + 10

In [ ]:
x

In [ ]:
L = [5, 2, 1, 3, 6]

In [ ]:
help(L.sort)

In [ ]:
L.sort()

In [ ]:
dir(L)

In [ ]:
print(L)

### Variables and Objects

In [ ]:
x = 4
x = 'text'

In [ ]:
x

In [ ]:
print(x)

In [ ]:
x = [2, 3, 1]
x.sort()
y = x 
x.append(4)
print(x)
print(y)

In [ ]:
x = 'Oleg'
y = 'Muratov'
x.append(y)
print(x)

In [ ]:
x = 10
y = x
x = x + 5
print(x)
print(y)

In [ ]:
x = ['Oleg']
y = ['Muratov']
x.append(y)
print(x)

In [ ]:
x = 4
type(x)

In [ ]:
x = 'Linn'
type(x)

In [ ]:
x = 4.3
type(x)

In [ ]:
x = ['Anna', 'Linn', 'Oleg']
type(x)

In [ ]:
x = 3.4
x.is_integer()

In [ ]:
x.imag

In [ ]:
# true division
print(11 / 2)

In [ ]:
# floor division
print(11 // 2)

In [ ]:
x = 7
if x%2 == 0:
    print("The number is even")
else:
    print("The number is odd")

In [ ]:
bin(10)

In [ ]:
4 | 10

In [221]:
4 | 5 | 23 | 12

31

In [222]:
2 | 10

10

In [223]:
5 | 10

15

In [224]:
bin(2)

'0b10'

In [225]:
bin(10)

'0b1010'

### Identity Operator

In [226]:
a = 2
b = 2

In [227]:
a == b

True

In [228]:
a is b

True

In [229]:
a is not b

False

In [230]:
a = [1 , 2, 3]
b = a
a is b

True

### Exercises

#### Exercise 1

In [231]:
x = 7 # assigns the value 7 to the variable x
if x % 2 == 0: # checks whether x is a multiple of 2
    print(x, 'is even.')
x /= 2 # divides x by 2
print('The half of x is', x)

The half of x is 3.5

#### Exercise 2

In [232]:
x = ['apples', 'pears']
y = x
y.append('grapes')
print('x =', x)
print('y =', y)

x = ['apples', 'pears', 'grapes']
y = ['apples', 'pears', 'grapes']

In [233]:
x = ['apples', 'pears']
y = x
x.append('grapes')
print('x =', x)
print('y =', y)

x = ['apples', 'pears', 'grapes']
y = ['apples', 'pears', 'grapes']

In [234]:
x = ['Chrischee']
x.append('is')
y = x
y.append('AMAZING.')
y

['Chrischee', 'is', 'AMAZING.']

In [235]:
x = 5
y = x
x = x + 2
print('x =', x)
print('y =', y)

x = 7
y = 5

In [236]:
x = ['apples', 'pears']
y = x
x = [1, 2]
print('x =', x)
print('y =', y)

x = [1, 2]
y = ['apples', 'pears']

#### Exercise 3

By combining operations test whether the value of a previously defined variable x

1. is in the interval (3, 7],
2. is even,
3. gives a remainder of 3 after division by 4, and print out the result of your tests

In [237]:
# 1)
x = 5
if x in interval[3, 7]:
    print('x is in the interval (3,7]')
else:
    print('x is not in the interval (3,7]')

NameError: name 'interval' is not defined

In [238]:
# 1)
x = 8
x>3 and x<=7

False

In [239]:
# 1)
x = 5
if (x > 3) and (x <= 7):
    print('x is in the interval (3,7]')
else:
    print('x is not in the interval (3,7]')

x is in the interval (3,7]

In [240]:
# 1)
x = 4
if (3 < x) and (x <= 7):
    print(x, 'is in the interval (3,7]')
    print(f'{x} is in the interval (3,7]')

4 is in the interval (3,7]
4 is in the interval (3,7]

In [241]:
# 2)
x = 5
if x%2 == 0:
    print(f'{x} is even')
elif x%2 == 1:
    print(f'{x} is odd')

5 is odd

In [242]:
# 3)
x = 23
x % 4 == 3

True

In [243]:
print (x%4)

3

#### Exercise 4

Calculate the maximal value of a house for which you could get a loan from a bank in Switzerland by using the following formula

$$V = \frac{(B-U)\cdot\frac{1}{r}\cdot\left(1-\frac{1}{(1+r)^n}\right)}{\frac{2}{15}+\frac{2}{3}\cdot\left(1-\frac{1}{(1+r)^n}\right)},$$, 

where  B  is one third of your yearly income,  U  stands for the yearly utility costs,  r  is the yearly interest rate (for worst scenario banks use 5%) and  n  is the number of years that you have until pension, assuming that at the time of the purchase you can pay for 20% of the house from your savings.

In [244]:
V = ((20000-10000)*(1/0.05)*(1-1/((1+0.05)**35)))/((2/15)+(2/3)*(1-1/((1+0.05)**35)))
V

241101.96542028067

In [245]:
B=20000
U=10000
r=0.05
n=35

In [246]:
V = ((B-U)*(1/r)*(1-1/((1+r)**n)))/((2/15)+(2/3)*(1-1/((1+r)**n)))
V

241101.96542028067

In [247]:
r = 0.05
n = 15
B = 120000/3
U = 5500

c = 1 - 1/(1 + r)**n 
nom = (B-U)*(1/r)*c
den = 2/15 + (2/3)*c
V = nom/den
print(V)

747093.2925520518

### Integers

In [248]:
2 ** 200

1606938044258990275541962092341162602522202993782792835301376

### Floating-Point Numbers

In [249]:
x = 0.000005
y = 5e-6
print(x == y)

True

In [250]:
float(1)

1.0

In [251]:
# why does this happen? due to the computer representation of the numbers this cannot be easily 
# checked for floating point numbes
0.1 + 0.2 == 0.3

False

In [252]:
print('0.1 = {0:.17f}'.format(0.1))
print('0.2 = {0:.17f}'.format(0.2))
print('0.3 = {0:.17f}'.format(0.3))

0.1 = 0.10000000000000001
0.2 = 0.20000000000000001
0.3 = 0.29999999999999999

In [253]:
# check whether difference is small enough: 
abs(0.1 + 0.2 - 0.3)
(0.1 + 0.2 - 0.3)<1e-10

True

### String Type

In [254]:
message = "what do you like?"
response = 'spam'

In [255]:
multilinetext = """This is the first row.
This is the second row"""

In [256]:
print(multilinetext)

This is the first row.
This is the second row

In [257]:
multilinetext = '''This is the first row.
This is the second row'''

In [258]:
message.capitalize()

'What do you like?'

In [259]:
response.upper()

'SPAM'

In [260]:
# 4 letters
len(response)

4

In [261]:
message + response

'what do you like?spam'

In [262]:
5 * response

'spamspamspamspamspam'

In [263]:
# first letter with index 0
message[0]

'w'

### None Type

In [264]:
return_value = print('abs')

abs

In [265]:
print(return_value)

None

### Boolean Type

In [266]:
result = (4 < 5)
result

True

In [267]:
type(result)

bool

### List

In [268]:
L = [2, 3, 5, 7]

In [269]:
len(L)

4

In [270]:
L.append(11)
L

[2, 3, 5, 7, 11]

In [271]:
L + [13, 17, 19]

[2, 3, 5, 7, 11, 13, 17, 19]

In [272]:
# sort() method sorts in-place
L = [2, 5, 1, 6, 3, 4]
L.sort()
print(L)

[1, 2, 3, 4, 5, 6]

In [273]:
L = [1, 'two', 3.14, [0, 3, 5]]
L

[1, 'two', 3.14, [0, 3, 5]]

In [274]:
L = [1, 'two', 3.14, [0, 3, 5]]
L[0]

1

In [275]:
L[1]

'two'

In [276]:
L[-1]

[0, 3, 5]

In [277]:
# displays values 0, 1 and 2 (the first three)
L[0:3]

[1, 'two', 3.14]

In [278]:
L[:3]

[1, 'two', 3.14]

In [279]:
L[-3:]

['two', 3.14, [0, 3, 5]]

In [280]:
L = [2, 3, 5, 7, 11]
L

[2, 3, 5, 7, 11]

In [281]:
L[0] = 100
print(L)

[100, 3, 5, 7, 11]

In [282]:
L[1:3] = [55, 56]
print(L)

[100, 55, 56, 7, 11]

In [283]:
L[1:4:2]

[55, 7]

### Tuples

Tuples are immutable

In [284]:
t = (1, 2, 3)

In [285]:
type(t)

tuple

In [286]:
t.count(2)

1

In [287]:
t.index(3)

2

In [288]:
len(t)

3

In [289]:
t[0]

1

### Dictionaries

In [290]:
numbers = {'one':1, 'two':2, 'three':3}

In [291]:
numbers['two']

2

In [292]:
numbers['ninety'] = 90
print(numbers)

{'one': 1, 'two': 2, 'three': 3, 'ninety': 90}

In [293]:
numbers.get('one')

1

### Sets

In [294]:
primes = {2, 3, 5, 7}
odds = {1, 3, 5, 7, 9}

In [295]:
primes | odds      # with an operator
primes.union(odds) # equivalently with a method

{1, 2, 3, 5, 7, 9}

In [296]:
# intersection: items appearing in both
primes & odds             # with an operator
primes.intersection(odds) # equivalently with a method

{3, 5, 7}

In [297]:
# difference: items in primes but not in odds
primes - odds           # with an operator
primes.difference(odds) # equivalently with a method

{2}

In [298]:
subj = 'Micu'
verb = 'is'
shizzle = 'a'
obj = 'pupschopf'
excl = '!'
space = ' '
subj + space + verb + space + shizzle + space + obj + space + 5*excl

'Micu is a pupschopf !!!!!'

In [299]:
# symmetric difference: items appearing in only one set
primes ^ odds                     # with an operator
primes.symmetric_difference(odds) # equivalently with a method

{1, 2, 9}

### The del-statement

In [300]:
my_tuple = ('Sam', 25)
my_list = [2, 3, 8]
my_dictionary = {'Name': 'Sam', 'Age': 25}
print('my_tuple =', my_tuple)
print('my_list =', my_list)
print('my_dictionary', my_dictionary)

my_tuple = ('Sam', 25)
my_list = [2, 3, 8]
my_dictionary {'Name': 'Sam', 'Age': 25}

In [301]:
del (my_tuple, my_list, my_dictionary)
# del my_tuple
# del my_list
# del my_dictionary

In [302]:
print(my_tuple) #print(my_list) #print(my_dictionary)

NameError: name 'my_tuple' is not defined

### Control Statements

In [303]:
x = -15

if x == 0:
    print(x, "is zero")
elif x > 0:
    print(x, "is positive")
elif x < 0:
    print(x, "is negative")
else:
    print(x, "is unlike anything I've ever seen...")

-15 is negative

### for Loops

In [304]:
for N in [2, 3, 5, 7]:
    print(N, end=' ') # print all on same line

2 3 5 7

In [305]:
for N in [2, 3, 5, 7]:
    print(N, end=', ') # print all on same line

2, 3, 5, 7,

In [306]:
for i in range(10):
    print(i, end=' ')

0 1 2 3 4 5 6 7 8 9

In [307]:
for i in range(-5,10):
    print(i, end=' spam ')

-5 spam -4 spam -3 spam -2 spam -1 spam 0 spam 1 spam 2 spam 3 spam 4 spam 5 spam 6 spam 7 spam 8 spam 9 spam

### while loops

In [308]:
i = 0
while i < 10:
    print(i, end=' ')
    i += 1

0 1 2 3 4 5 6 7 8 9

In [309]:
# get all the odd numbers printed out
for n in range(20):
    # if the remainder of n / 2 is 0, skip the rest of the loop
    if n % 2 == 0:
        continue
    print(n, end=' ')

1 3 5 7 9 11 13 15 17 19

In [310]:
# Fibonacci-series

a, b = 0, 1
amax = 200
L = []

while True:
    (a, b) = (b, a + b)
    if a > amax:
        break
    L.append(a)

print(L)

[1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144]

ex 5 and 7 (rooms 1 and 4)
ex 8 and 9 (rooms 2 and 5)
ex 10 and 11 (rooms 3 and 6)

#### Exercise 5

Explain the following code snippets:

In [311]:
# a)
linetypes = {'solid': '-', 'dashed': '--', 'dash-dotted': '-.', 'dotted': ':'}
print(linetypes)
del linetypes['solid']
print(linetypes)
del linetypes
print(linetypes)

{'solid': '-', 'dashed': '--', 'dash-dotted': '-.', 'dotted': ':'}
{'dashed': '--', 'dash-dotted': '-.', 'dotted': ':'}

NameError: name 'linetypes' is not defined

#### Exercise 9

1. Create a dictionary, which contains as keys all the elements of a list and as values the corresponding number of occurences in the list.
For example for the list 
```L = [1, 2, 3, 2]```
the corresponding dictionary would be
```{1:1, 2: 2, 3:1}```.

2. Knowing that the year started with a day of Monday, determine on what day of the week would fall the 100-th, 243-th, 301-th day of the year.

In [312]:
L = [1, 2, "a", 2, 3, 2, 2, 2, "a"]
D = {}
for element in L:
    if element in D.keys():
        D[element] = D[element] + 1
    else:
        D[element] = 1
print(D)

{1: 1, 2: 5, 'a': 2, 3: 1}

#### Exercise 10

We consider three categories of major allergy factors: milk, gluten and nuts. From all the participants of a dietary seminar we got the information whether they are allergic to these individual factors. We denote the participants by $P_1, P_2, \ldots, P_{30}$. The collected information is summarized in the following code:

In [313]:
milk = {'P1', 'P3', 'P7', 'P10', 'P18'} #people being allergic to milk
gluten = {'P1', 'P10', 'P5', 'P22', 'P18'} #people being allergic to milk
nuts = {'P5', 'P10', 'P27'} #people being allergic to nuts

In [314]:
# 1. Who is allergic to milk, gluten and nuts, as well?

# intersection: items appearing in both
milk & gluten & nuts             # with an operator
milk.intersection(gluten, nuts) # equivalently with a method

{'P10'}

In [315]:
#2. Determine with set operations, which participants are allergic to exactly one factor.

((milk-gluten)-nuts) | ((gluten-milk)-nuts) | ((nuts-milk)-gluten)

{'P22', 'P27', 'P3', 'P7'}

In [316]:
milk ^ gluten ^ nuts

{'P10', 'P22', 'P27', 'P3', 'P7'}

In [317]:
milk ^ gluten ^ nuts - (milk & gluten & nuts)               # with an operator

{'P22', 'P27', 'P3', 'P7'}

#### Exercise 11

1. Write code which checks whether a given number ```a``` is a multiple of ```b``` and write your result as a text message.
2. A leap year is a year of 366 days in the Gregorian calendar. It is a year whose number is exactly divisible by 4, or, in case of the final year of a century, by 400. Determine whether a given year is leapyear or not.

In [318]:
# 1)

a = 20
b = 6
if a % b == 0:
    print("{} is a multiple of {}.".format(a,b))
else:
    print("{} is not a multiple of {}.".format(a,b))

20 is not a multiple of 6.

In [319]:
year = 23
LeapYear = False
if year % 4 == 0:
    if year % 100 == 0:
        if year % 400 == 0:
            LeapYear = True
        else:
            LeapYear = False
    else:
        LeapYear = True
else:
    LeapYear = False
print(LeapYear)

False

### Defining Functions

In [320]:
def fibonacci(N):
    L = []
    a, b = 0, 1
    while len(L) < N:
        a, b = b, a + b
        L.append(a)
    return L

In [321]:
fibonacci(10)

[1, 1, 2, 3, 5, 8, 13, 21, 34, 55]

In [322]:
def fibonacci(N):
    'It generates the first N Fibonacci-numbers.'
    L = []
    a, b = 0, 1
    while len(L) < N:
        a, b = b, a + b
        L.append(a)
    return L

In [323]:
fibonacci?

In [324]:
def fibonacci(N, a=0, b=1):
    L = []
    while len(L) < N:
        a, b = b, a + b
        L.append(a)
    return L

In [325]:
fibonacci(10)

[1, 1, 2, 3, 5, 8, 13, 21, 34, 55]

In [326]:
fibonacci(10, 0, 2)

[2, 2, 4, 6, 10, 16, 26, 42, 68, 110]

In [327]:
fibonacci(10, b=3, a=1)

[3, 4, 7, 11, 18, 29, 47, 76, 123, 199]

### Anonymous (``lambda``) Functions

In [328]:
add = lambda x, y: x + y
add(1, 2)

3

In [329]:
data = [{'first':'Guido', 'last':'Van Rossum', 'YOB':1956},
        {'first':'Grace', 'last':'Hopper',     'YOB':1906},
        {'first':'Alan',  'last':'Turing',     'YOB':1912}]

In [330]:
# sort alphabetically by first name
sorted(data, key=lambda item: item['first'])

[{'first': 'Alan', 'last': 'Turing', 'YOB': 1912},
 {'first': 'Grace', 'last': 'Hopper', 'YOB': 1906},
 {'first': 'Guido', 'last': 'Van Rossum', 'YOB': 1956}]

In [331]:
# sort by year of birth
sorted(data, key=lambda item: item['YOB'])

[{'first': 'Grace', 'last': 'Hopper', 'YOB': 1906},
 {'first': 'Alan', 'last': 'Turing', 'YOB': 1912},
 {'first': 'Guido', 'last': 'Van Rossum', 'YOB': 1956}]

### Strings and Regular Expressions

In [332]:
fox = "tHe qUICk bROWn fOx."

In [333]:
fox.swapcase()

'ThE QuicK BrowN FoX.'

In [334]:
line = 'the quick brown fox jumped over a lazy dog'
line.find('fox')

16

In [335]:
line.find('bear')

-1

In [336]:
line.index('bear')

ValueError: substring not found

In [337]:
line.rfind('a')

35

In [338]:
line.

SyntaxError: invalid syntax (<ipython-input-338-35896c4c0cad>, line 1)

In [ ]:
line = 'the quick brown fox jumped over a lazy dog'
line.replace('brown', 'red')

In [339]:
line.partition('fox')

('the quick brown ', 'fox', ' jumped over a lazy dog')

In [340]:
line.split()

['the', 'quick', 'brown', 'fox', 'jumped', 'over', 'a', 'lazy', 'dog']

### Format strings ``f-string``

In [341]:
pi = 3.14159
str(pi)
"The value of pi is {}.".format(pi)

'The value of pi is 3.14159.'

In [342]:
f'The value of pi is {pi}'

'The value of pi is 3.14159'

In [343]:
import re
regex = re.compile('\s+')
regex.split(line)

['the', 'quick', 'brown', 'fox', 'jumped', 'over', 'a', 'lazy', 'dog']

In [344]:
for s in ["     ", "abc  ", "  abc"]:
    if regex.match(s):
        print(repr(s), "matches")
    else:
        print(repr(s), "does not match")

'     ' matches
'abc  ' does not match
'  abc' matches

In [345]:
email = re.compile('\w+@\w+\.[a-z]{3}')

In [346]:
text = "To email Guido, try guido@python.org or the older address guido@google.com."
email.findall(text)

['guido@python.org', 'guido@google.com']

In [347]:
email.sub('--@--.--', text)

'To email Guido, try --@--.-- or the older address --@--.--.'

In [348]:
x = ['You', 'will', 'be', 'missed']
type(x)
print(x)

['You', 'will', 'be', 'missed']

In [349]:
mytext = """HAIKU
for Chrische

You shall be missed, dear.
Get some very well deserved rest now, 
until you are like new.


Perhaps do not even touch it.
Just look at it, look at it,
until it becomes beautiful.

 

TEST QUESTION FOR EVERY DAY
translated by va Antal

Do you still see
what you look at, or you only
know: "there" "it" "is"?

 

FROM THE BEST OF INTENTIONS
translated by Gbor G. Gyukics and Michael Castro

fall asleep;
die the same way a child
bites into an apple.

 

MEETING
translated by Gbor G. Gyukics and Michael Castro

I plan it as a farewell

 

THE HAIKU
translated by Tams Rvbr

in front of my feet
a bird sat, and then took flight.
Now I'm heavier.

 

AXIOM
translated by Tams Rvbr

You should try and help
everything to be the way
it is anyway.

 

ECHO ON EPICTETUS
translated by Tams Rvbr

Don't say, "I lost it",
about anything. Rather
say, "I gave it back".

 

AXIOM
translated by Tams Rvbr

Parents and killers:
almost-innocent servants.
They just execute.

 

ZENsation
translated by Tams Rvbr

Look, the snow gives body to the wind!

 

DISILLUSIONIST
translated by Tams Rvbr

Why should I travel
when I can be a stranger
right here, standing still?"""

In [350]:
with open('Haikus.txt', 'w') as outstream:
    outstream.write(mytext)

In [351]:
with open('Haikus.txt', 'r') as instream:
    print(instream.readline())
    print(instream.readline())
    print(instream.readline())
    print(instream.readline())
    print(instream.readline())
    print(instream.readline())

HAIKU

for Chrische



You shall be missed, dear.

Get some very well deserved rest now,

until you are like new.